<app-add-todo (addNewTodo)="addNewTodo($event)"></app-add-todo>
<div class="ui middle aligned divided list" *ngFor="let todoItem of todoList">
    <app-todo [todo]="todoItem" (deleteTodo)="deleteTodo($event)"></app-todo>
</div>
