<div class="item">
    <div class="content">
        <div class="ui checkbox">
            <input (change)="onToggle(todo)" type="checkbox" [checked]="todo.completed">
            <label [ngClass]= "setClasses()">{{todo.id}} {{todo.title}}</label>
        </div>
    </div>
    <div class="right floated content">
        <i (click)="onDelete(todo)" class="large trash middle aligned icon"></i>
    </div>
</div>
