<h4>Header Todo Aplication / Nav component</h4>
<div class="ui menu">
  <div class="ui container">
    <div class="ui main text container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<h4>Footer component</h4>