<form class="ui large form segment">
  <h3 class="ui header">Todo list</h3>
  <div class="field">
    <label for="title">New task:</label>
    <input name="title" id="title" placeholder="Description..." #newtask>
  </div>

  <button type="submit" (click)="addTodo(newtask)" class="ui positive right floated button">
      Add
  </button>
</form>