@import './app/vendor/semantic.min.css';

.ui.menu .item {
    margin-right: 1.5em;
}

form.ui.segment.form {
    background-color: #F1F9FF;
    margin-top: 2em;
    margin-bottom: 1em;
}

form.form:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}